@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: url('../Images/additems.JPG') no-repeat;
    background-size:cover;
    color: black;
    
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}
.content h2{
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 10px;

}
.content label{
    font-size: 20px;
    margin: 20px 0;
    padding: 10px 0px;
    
}
.content input{
    font-size: 15px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    background-color: #fbe9eb;
}
.content button{
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: background-color 0.5s;
    margin-top: 15px;

}
.content button:hover{
    background-color:  #b6702b;
    border-color:#fad3d4;
    color: white;

}